body {
    background-color: #E5E5E5;
}

.navbarTest {
    background-color: #EEEBE8;
    font-family: 'Amiko', sans-serif;
    font-weight: 700;
    font-size: 15px;
}

h1  {
    font-family: 'Amiko', sans-serif;
    font-weight: 700;
    font-size: 40px;
  
    
}

p {
    font-family: 'Amiko', sans-serif;
    font-weight: 400;
    font-size: 30px;
}
.bgTest {
    background-color: #E5E5E5;
}

.card-body {
    background-color: #EEEBE8
}

.card-title {
    font-family: 'Amiko', sans-serif;
    font-weight: 600;
    font-size: 30px;
  
}
.card-text {
    font-family: 'Amiko', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.cardContainer {
    align-content: left;
    margin: 30px auto;
}

.sectionHeading {
   font-family:'Amiko', sans-serif;
   font-weight: 400;
   text-align: left;
   padding: 0px 30px 30px 30px;
    
}

.btn {
    
background-color: #E5FC5E;
    color: black;

}

.content {
    padding: 50px;
}
