body {
    background-color:#E5C2C2;
}

.navbarTest {
    border-bottom: solid ;
    border-color:#E63CEA;
    background-color: #E5C2C2;
    font-family: 'Amiko', sans-serif;
    font-weight: 700;
    font-size: 15px;
 
}

h1  {
    font-family: 'Amiko', sans-serif;
    font-weight: 700;
    font-size: 40px;
  
    
}

p {
    font-family: 'Amiko', sans-serif;
    font-weight: 400;
    font-size: 30px;
}
.bgTest {
    background: rgb(232,158,234);
    background: linear-gradient(40deg, rgba(232,158,234,1) 0%, rgba(243,192,185,1) 49%, rgba(232,207,200,1) 100%);k;
}

.card-body {
    background-color: #EEEBE8
}

.card-title {
    font-family: 'Amiko', sans-serif;
    font-weight: 600;
    font-size: 30px;
  
}
.card-text {
    font-family: 'Amiko', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.cardContainer {
    align-content: left;
    margin: 30px auto;
}

.sectionHeading {
   font-family:'Amiko', sans-serif;
   font-weight: 400;
   text-align: left;
   padding: 0px 30px 30px 30px;
   border-bottom: solid ;
   border-color:#E63CEA;

    
}

.btn {
    
background-color: #E5FC5E;
    color: black;

}

.content {
    padding: 50px;
}


