.navbar {
    background-color: #EEEBE8;
    font-family: 'Amiko', sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.herotitle {
    font-family: 'Amiko', sans-serif;
    font-weight: 700;
    font-size: 40px;
  
    
}

.herotext {
    font-family: 'Amiko', sans-serif;
    font-weight: 400;
    font-size: 30px;
}
